/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2017, 1:40:26 PM
    Author     : James
*/

#machineSlot{
    text-align: center;
    border-style: solid;
    height: 150px;
    width: 150px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px;
}

h4 {
    text-align: center;
}